html {
    background-color: rgb(248, 217, 159);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("groceries.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -20px;
}

h1 {
    color: rgb(255, 166, 0);
    text-shadow: black 2px 2px 2px;
    font-size: 6rem;
    text-decoration: none;
}

h3 {
    color: rgb(255, 166, 0);
    text-shadow: black 2px 2px 2px;
    font-size: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#formAppears, #sortList {
    padding: 10px;
    gap: 10px;
}

button, select {
    background-color: rgb(255, 166, 0);
    border: 2px rgb(255, 166, 0);
    box-shadow: 2px 2px 5px black;
    border-radius: 10%;
    padding: 5px;
    gap: 3px;
}

input[type="checkbox"]::before {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: rgb(255, 166, 0);
    width: 10px;
    height: 10px;
    
}

#checkbox:hover, button:hover, select:hover, #formAppears:hover, #sortList:hover {
    scale: 110%
}

.hidden {
    display: none;
}

.itemDiv {
    background-color: rgb(248, 217, 159, 65%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px rgb(255, 166, 0);
    box-shadow: 2px 2px 5px black;
    gap: 5px;
    padding: 5px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#checkbox {
    size: 15px;
}

footer {
    font-size: 8px;
}